
.btn-mobile_container{
position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    button{
        font-family: "cinzel", sans-serif;
        width: 50%;
        padding: 20px;
        background: linear-gradient(200deg, rgba(255, 255, 255, 0) 45%, rgba(44, 255, 2, 0.254) 50%, rgba(255, 255, 255, 0) 55%);
        background-size: 300%;
        background-position: right;
        color: #d2f9cde2;
        animation: moveBg 3.5s ease-in infinite;
        border: none;
        transition: all 5s ease;

    }
}