.logo-contact_container {
    display: flex;
    flex-direction: row;
    contain: content;
    justify-content: flex-start;

    button {
        padding: 0 !important;
        background: none;
        flex-basis: 20%;
        border: none;
        &:hover {
            animation: jelly 2s infinite;
            transform-origin: 50% 100%;
        }

        img{
            width: 55%;
        }
    }

    a {
        flex-basis: 20%;
        text-align: center;

        &:hover {
            animation: jelly 2s infinite;
            transform-origin: 50% 100%;
        }
    }

    img {
        width: 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes jelly {

    0% {
        transform: scaleY(1) skewX(0deg);
    }

    25% {
        transform: scaleY(0.8) skewX(20deg);
    }

    50% {
        transform: scaleY(1.2) skewX(10deg);
    }

    75% {
        transform: scaleY(0.9) skewX(-20deg);
    }

    100% {
        transform: scaleY(1) skewX(0deg);
    }
}