.tec-skills {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0 10%;
    flex-wrap: wrap;
    box-sizing: content-box;

    img {
        padding-top: 20px;
        width: 6rem;


    }

    p {
        position:absolute;
        transform: translateY(20px);
        background: none;
        background: -webkit-linear-gradient(333deg, rgba(121, 92, 9, 1) 16%, rgb(186, 186, 186) 40%, rgb(127, 126, 126) 61%, rgba(0, 255, 85, 1) 84%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "cinzel", sans-serif;
        font-weight: bolder;


     filter: drop-shadow(-45px -29px 3px #00ff55) drop-shadow(57px 35px 3px #795c09);
    }

}








/* .tech-skill {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 2.5rem;

    .tech-skill_container,
    .soft-skill_container {

        width: 40%;
    }

    .tag-container {
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 3 1fr;
        gap: 20px;

    }

    .tag-card {
        color: #fff;
        position: relative;
        transition: 0.5s all linear;
        display: flex;
        flex-direction: column;
        h5, p {
            font-size: 10px;
            position: absolute;
            bottom: 0;
            text-align: center;
        }
        &:hover {
            font-size: 22px;
            filter: drop-shadow(0 0 0.75rem rgb(230, 200, 9));
            scale: 1.1;
            transition: 0.5s all linear;
        }
        img {
            display: flex;
            width: 100%;
            filter: drop-shadow(0 0 0.75rem rgb(167, 167, 161));
            background: transparent;
            object-fit: contain;
            margin-bottom: 20px;
        }
    }
}


.soft-skill_container {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 3 1fr;
    gap: 25px;
    text-align: center;

}
.skill-card{
    flex-direction: row;
font-size: 16px;
h5{
    width: 100%;
    background: green;
    border-radius: 10px;
    padding: 10px;
}
p{
    visibility: hidden;
}
} */