.service-container {
    display: flex;
    gap: 30px;

    margin-top: 1rem;
}

.service-card_container {
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    gap: 20px;
    text-align: center;
    padding: 20px;
    --border-width: 1px;
 /*    background: rgb(0, 0, 0); */
    border-radius: 15px;
    &::after {
        position: absolute;
        content: "";
        top: calc(-1 * var(--border-width));
        left: calc(-1 * var(--border-width));
        z-index: -1;
        width: calc(100% + var(--border-width) * 2);
        height: calc(100% + var(--border-width) * 2);
        background: linear-gradient(60deg,
                hsl(44, 85%, 66%),
                hsl(44, 85%, 66%),
                hsl(0, 100%, 100%),
                hsl(134, 85%, 66%),
                hsl(125, 85%, 66%));
        background-size: 600% 400%;
        background-position: 0 50%;
        border-radius: calc(1 * 20px);
        animation: moveGradient 15s linear infinite;
    }

    p {
        margin: 0;
        display: flex; 
        flex: 0 ;
        align-self: center;
    }

    h3 {
        text-align: center;

        margin-bottom: 0;
        position: relative;
        background: -webkit-linear-gradient(60deg,
                hsl(120, 9%, 96%),
                hsl(44, 85%, 66%),
                hsl(0, 100%, 100%),
                hsl(134, 85%, 66%),
                hsl(125, 85%, 66%));
        background-size: 500% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: moveGradient 15s linear infinite;
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

@keyframes textclip {
    to {
        background-position: 50% 0;
        background-size: 600% 400%;
    }
}