.skills-container {
    display: flex;
    justify-content: space-around;

    .tech-skill_container,
    .soft-skill_container {

        width: 40%;
    }

    .tag-container {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3 1fr;
        gap: 20px;

    }

    .tag-card {
        color: #fff;
        box-sizing: border-box;

        img {

            object-fit: contain;
        }
    }
}