//NAV
@media screen and (min-width:250px) and (max-width:839px) {
    header {
        width: 95%;
        max-width: 100vh;
        padding-right: 50px;

        .nav-menu {
            width: 30%;
            display: flex;
            justify-content: space-around;
            padding: 10px;
            box-sizing: border-box;

            a {
                font-size: .8rem;
            }
        }
    }

    .logo {
        font-size: 3rem;
    }
}

//INTRODUCTION mobile
@media screen and (max-width:539px) {

    .myName {
        padding: 10px 10px;
        font-size: 3.5rem;
        top: 10%;
        left: 0%;

        span {
            font-size: 5.5rem;
        }
    }

    .myJob {
        padding-left: 12%;
        font-size: 2.2rem;
        top: 45%;
        left: 0%;
    }

    .presentation {
        font-size: 1rem;
        left: 10%;
    }
}

//INTRODUCTION tablette
@media screen and (min-width:540px) and (max-width:1300px) {
    .myName {
        font-size: 5rem;
        top: 8%;
        left: 0%;

        span {
            font-size: 6.5rem;
        }
    }

    .myJob {
        font-size: 3.6rem;
        top: 45%;
        left: 7%;
    }

    .presentation {
        font-size: 1.2rem;
        left: 7%;
    }
}

//ABOUT mobile
@media screen and (max-width:539px) {
    .aboutme-container {
        flex-direction: column;
        background-position: 135% 90%;

        .my-photo {
            display: none;
        }

        .presentation-container {
            width: 100%;
            box-sizing: border-box;
        }

        h1 {
            font-size: 2rem;
            padding-top: 10px;
            text-align: center;
        }

        p {
            font-size: 1rem;
            line-height: 2;
            text-align: left;
        }

        button {
            padding: 0 !important;
            box-shadow: none;
        }

        .logo-contact_container {
            transform: translateX(-2.1rem);
        }
    }
}

//ABOUT tablette & others
@media screen and (min-width:525px) and (max-width:1025px) {
    .aboutme-container {
        .presentation-container {
            width: 100%;
            box-sizing: content-box;
            padding: 2px;
        }
    }
}

//SERVICE mobile
@media screen and (max-width:839px) {
    .main-service {
        width: 90%;
        background-size: 100%;
height: 100%;
        h1 {
            font-size: 2rem;
            padding: 70px 0 0 0;
        }

        h3 {
            font-size: 1.3rem;
            width: 100%;
        }

        .service-container {
            display: block;

            .service-card_container {
                width: 100%;
                padding: 15px 0;
            }
        }

        h2 {
            font-size: 1.5rem;
            padding: 5px 0;
        }

        .tec-skills {
            gap: 0;
            padding: 0;
        }

        img {
            width: 2rem;
            filter: none;
        }
    }
}

@media screen and (min-width:840px) and (max-width:1050px) {

    .main-service {
        width: 90%;
        background-size: 100%;

        .service-card_container {
            padding: 0;
        }

        h1 {
            font-size: 2rem;
            padding: 70px 0 0 0;
        }

        h3 {
            font-size: 1.4rem;
            width: 100%;
            text-align: bottom;
        }

        p {
            display: block;
            font-size: 1rem;
        }

        .tec-skills {
            gap: 0;
            padding: 5px;
        }

        h2 {
            font-size: 2rem;
            padding: 3rem 0 10px 0;

        }

        img {
            width: 4rem;
        }
    }

}