main{
    background: url(../../assets/img/BackGround/bgservices.webp);
    object-fit: cover;
    background-position: 110% 95%;
}
.projects-container {
    display: flex;
    justify-content: center;
    width: auto;
    button {
      animation: vibrate 0.7s forwards;
        width: 120px;
        height: 602px;
        background: none;
        border: none;
        position: relative;
        top: 50px;
        img {
            width: 120px;
            transform: rotate(150deg);
            transition: all 2s;
            filter: drop-shadow(0 0 0.75rem rgb(251, 249, 249));
            &:hover {
                transform: rotate(180deg);
                filter: drop-shadow(0 0 0.75rem rgb(246, 158, 6));
            }
        }
        .arrow-right{
         
            transform: rotate(330deg);
            filter: drop-shadow(0 0 0.75rem rgb(251, 249, 249));
            &:hover {
                transform: rotate(360deg);
                
            }
            
        }
       
    }
}

.prj-card_container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(255, 255, 255);
    pointer-events: none;
    text-align: center;
    h2 {
      font-size: 2.3rem;
        padding: 0;
        color: transparent;
        background: #5fd530;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(172, 172, 172, 0.7);
      
    }
    .desc-text {
        padding-top: 1rem;
        width: 70%;
        align-self: center;
    }
    img {
        pointer-events: auto;
        filter: drop-shadow(0 0 2mm rgb(103, 229, 24));
        transition: all 1s;
        box-sizing:border-box;
        border: 1px solid rgb(100, 100, 100);
        border-radius: 80px;
        width: 100%;
        max-width: 1047px;
        height:700px;
        object-fit: cover;
        position: relative;
        &:hover+.desc-text {
            transition: all 2s;
            scale: 1.2;
            text-shadow: #FC0 1px 0 10px;
        }
        &:hover {
            filter: drop-shadow(0 0 6mm rgb(231, 250, 219));
        }
      
    }
}
@keyframes vibrate {
    0% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-3px);
      transform: translateY(-1px);
    }
    40% {
      transform: translateX(3px);
      transform: translateY(1px);
    }
    60% {
      transform: translateX(-3px);
    }
    80% {
      transform: translateX(3px);
    }
    100% {
      transform: translateX(0);
    }
  }